@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  @apply bg-ink-900 text-white;
}

.teaser-blur {
  filter: blur(18px) saturate(0.8);
  transform: scale(1.02);
}
